[Desktop Entry]
Version=1.0
Type=Application
Name=3D Slicer
Comment=
Exec=/usr/local/vinsurf/Slicer-4.6.2-linux-amd64/Slicer
Icon=/usr/local/vinsurf/ubuntooth/ubuntooth-parts/icons/slicer.png
Categories=Dentistry;Dicom;Science;
StartupNotify=true
Terminal=false
