[Desktop Entry]
Version=1.0
Type=Application
Name=Elmer
Comment=
Exec=/usr/bin/ElmerGUI
Icon=/usr/local/vinsurf/ubuntooth/ubuntooth-parts/icons/elmer.png
Categories=Dentistry;Engineering;Science;
StartupNotify=true
Terminal=false
