[Desktop Entry]
Version=1.0
Type=Application
Name=Itk Snap
Comment=
Exec=/usr/local/vinsurf/itksnap-3.6.0-rc1-20161029-Linux-x86_64/bin/itksnap
Icon=/usr/local/vinsurf/ubuntooth/ubuntooth-parts/icons/itksnap.png
Categories=Dentistry;Dicom;Science;
StartupNotify=true
Terminal=false
